<div class="row">
    <div class="col-sm-6">
        <h2>Add</h2>

        <div ng-show="showStatus" class="alert alert-info">{{ statusMessage }}</div>

        <form ng-submit="create()" role="form">
            <div class="form-group">
                <input ng-model="newItem.actor" type="text" class="form-control" id="actor" placeholder="Who">
            </div>
            <div class="form-group">
                <input ng-model="newItem.action" type="text" class="form-control width:100px" id="action"
                       placeholder="What">
            </div>
            <div class="form-group">
                <input ng-model="newItem.amount" type="text" class="form-control" id="amount"
                       placeholder="Num">
            </div>
            <div class="form-group">
                <input ng-model="newItem.units" type="text" class="form-control" id="units"
                       placeholder="Units">
            </div>
            <div class="form-group">
                <input ng-model="newItem.date" type="text" class="form-control" id="date" placeholder="Date">
            </div>
            <!--
            <div class="form-group">
                <input ng-model="newItem.message" type="text" class="form-control" id="message"
                       placeholder="Message">
            </div>
            -->
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="col-sm-6"></div>
</div>