<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">Login</a></li>
    </ul>
    <h3 class="text-muted">Firework</h3>
</div>
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Timeline</a></li>
                <li><a href="#">Add</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Who</a></li>
                <li><a href="#">What</a></li>
            </ul>
        </div>
        <div class="col-sm-9 main">
            <div id="timeline">
                <h1>Timeline</h1>

                <p ng-repeat="event in fireworkEvents">
                    <button class="btn btn-sm btn-primary"> @{{ event.actor }}</button>
                    <button class="btn btn-sm btn-success"> {{ event.action }}</button>
                    <button class="btn btn-sm btn-info"> {{ event.amount }}</button>
                    <button class="btn btn-sm btn-warning"> {{ event.units }}</button>
                    <button class="btn btn-sm btn-danger">{{ event.date }}</button>
                    <button class="btn btn-xs btn-default">edit</button>
                    <button class="btn btn-xs btn-danger" ng-click="delete(event)">del</button>
                </p>
            </div>
            <hr/>
            <div id="add">
                <h2>Add</h2>

                <form ng-submit="create()" role="form">
                    <div class="form-group">
                        <input ng-model="newEvent.actor" type="text" class="form-control" id="actor" placeholder="Who">
                    </div>
                    <div class="form-group">
                        <input ng-model="newEvent.action" type="text" class="form-control" id="action"
                               placeholder="What">
                    </div>
                    <div class="form-group">
                        <input ng-model="newEvent.amount" type="text" class="form-control" id="amount"
                               placeholder="Num">
                    </div>
                    <div class="form-group">
                        <input ng-model="newEvent.units" type="text" class="form-control" id="units"
                               placeholder="Units">
                    </div>
                    <div class="form-group">
                        <input ng-model="newEvent.date" type="text" class="form-control" id="date" placeholder="Date">
                    </div>
                    <div class="form-group">
                        <input ng-model="newEvent.message" type="text" class="form-control" id="message"
                               placeholder="Message">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <hr/>
        </div>
    </div>

    <!--
   <div class="jumbotron">
       <h1>Firework</h1>

       <p class="lead">
           <b>log</b> what you do, <b>see</b> what you've done
       </p>
   </div>
   -->

    <div class="footer">
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a href="/privacy">Privacy Statement</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a href="https://github.com/JeremyNevill/shortee">Shortee Message Syntax</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li>Copyright (c) 2012-2014</li>
                    <li>Lateral Information Systems Ltd</li>
                </ul>
            </div>
        </div>
    </div>
</div>
