<div class="row">
    <div class="col-sm-12">
        <h1>Timeline</h1>

        <p ng-show="loading"><i class="fa fa-spinner fa-spin"></i>
        </p>

        <p ng-repeat="item in fireworkItems">
            <button class="btn btn-sm btn-primary"> @{{ item.actor }}</button>
            <button class="btn btn-sm btn-success"> {{ item.action }}</button>
            <button class="btn btn-sm btn-info"> {{ item.amount }}</button>
            <button class="btn btn-sm btn-warning"> {{ item.units }}</button>
            <button class="btn btn-sm btn-danger">{{ item.date }}</button>
            <button class="btn btn-xs btn-default">edit</button>
            <button class="btn btn-xs btn-danger" ng-click="delete(item)">del</button>
        </p>
    </div>
</div>

